
    <div class="card">
        <h3>{{name}}</h3>
        <p>level: {{level}}</p>
        <p>special: {{special}}</p>
        <p>health: {{health}}</p>
        <p>move: {{move}}</p>
        <p>attack: {{attack}}</p>
    </div>
