<div class="card-background flex flex-row w-fit player-ridge border-8 mb-4 shadow-[0_0px_10px_5px_rgba(210,70,33,0.3)] transition ease-in-out delay-150 hover:scale-105 duration-150 place-items-center text-md"
    id="newCharacterForm">
    <h3>Choose Monsters</h3>
    <ul>
        {{#each monsters}}
        <div class="form-check p-3">
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" id="add{{name}}" data-monsterId = {{id}}>
            <label class="form-check-label inline-block text-gray-400" for="flexCheckDefault">
                {{Name}}
                <img class="flex-initial m-1 p-1 h-48" src="/images/monsters/{{name}}.jpg"
                    alt="{{name}} Art">
            </label>

        <input type="number" name="monster" id="num{{name}}" placeholder="0">
        <label>{{name}}</label></br>
        {{/each}}
    </ul>
</div>