<form class="flex flex-row flex-wrap w-fit border-5 justify-center text-md" id="newCharacterForm">

    {{!-- <div class="form-check p-3"> --}}
        {{#each monsters}}
        <div class="form-check p-3">
            <div class="flex justify-center">
                <img class="flex-initial border-2 card-background monster-ridge m-1 p-1 h-64 transition"
                    src="/images/monsters/{{name}}.jpg" alt="{{name}} Character">
            </div>
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" id="add{{name}}" data-monsterId={{id}}>
            <label class="form-check-label inline-block text-gray-400" for="flexCheckDefault">
                {{name}}
            </label>
            <br />
            <input type="number" name="monster" id="num{{name}}" placeholder="0"></br>
            <label>Total: {{name}}</label>
        </div>
        {{/each}}

    </div>
</form>