{{#each players as |player|}}
{{>playerStats}}
{{/each}}


<h2>Monsters</h2>

{{#each monsters as |monster|}}
{{>monsterstats}}
{{/each}}


{{!-- Turn Order --}}
<aside>
  <div class="card-header col-md-12 text-center">
    <h3>
      Turn Order
    </h3>
  </div>
  <form id="turnorders">
    <ul id="sortable1" class="connectedSortable">
      {{#each players as |player|}}
      <li class="ui-state-default {{playerName}}"> {{playerName}} <input type="number" id={{name}} min="0" max="100">
      </li>
      {{/each}}
      <ul id="sortable2" class="connectedSortable"></ul>
      {{#each monsters as |monster|}}
      <li class="ui-state-default monsterturn"> {{name}}
        <input type="number" id={{name}} min="0" max="100" />
      </li>
      {{/each}}
  </form>
  <button class="delBtn" id="clearInput">Next Round</button>
</aside>


<script src="/js/index.js"></script>
<script src="/js/addEffect.js"></script>