{{#each players}}
<div class="player-card player-title">
  <p class="player-stats">{{playerName}}</p>
  <p class="player-stats">level: {{playerLevel}}</p>
  <p class="player-stats">health: {{playerHealth}} <span class="HPchange">{{playerHealth}}</span></p>
  <p class="player-stats">experience: {{experience}}</p>
  <p class="player-stats">effect: {{effect}}</p>
  {{#each Effects}}
  <p>{{name}}</p>
  {{/each}}
  <button type="button" class="plusCHP">+ PLUS </button>
  <button type="button" class="minusCHP">- MINUS</button>
</div>
{{/each}}

<h2>Monsters</h2>
<div>
  {{#each monsters as |monster|}}
 {{>monsterstats}}


  </div>
  {{/each}}
</div>

{{!-- Turn Order --}}
<aside>
  <div class="card-header col-md-12 text-center">
    <h3>
      Turn Order
    </h3>
  </div>
  <form id="turnorders">
    <ul id="sortable1" class="connectedSortable">
      {{#each players as |player|}}
      <li class="ui-state-default {{playerName}}"> {{playerName}} <input type="number" id={{name}} min="0" max="100">
      </li>
      {{/each}}
      <ul id="sortable2" class="connectedSortable"></ul>
      {{#each monsters as |monster|}}
      <li class="ui-state-default monsterturn"> {{name}}
        <input type="number" id={{name}} min="0" max="100" />
      </li>
      {{/each}}
  </form>
  <button class="delBtn" id="clearInput">Next Round</button>
</aside>


<script src="/js/index.js"></script>