<h1>Welcome back, {{username}}</h1>
<h2>My Projects:</h2>
{{#each campaign}}
    <div class="card">
        <a href="/campaign/{{id}}"><h3>{{name}}</h3></a>
        <h4>Needs: ${{needed_funding}}</h4>
        <p>{{description}}</p>
        <button class="delBtn" data-projId="{{id}}">Delete Me</button>
        <hr>
    </div>
{{/each}}

{{!-- add party to campaign --}}
  <h2>Who is in your party?</h2>
  <form action="" id="addCharacter">
    <div class="Hatchet">
    <input type="checkbox" name="character" value="Hatchet" id="checkbox-1">
    <label for="checkbox-1">Hatchet</label>
    </div>
    <div class="RedGuard">
    <input type="checkbox" name="character" value="RedGuard" id="checkbox-2">
    <label for="checkbox-2" >Red Guard</label>
    </div>
    <div class="Demolitionist">
    <input type="checkbox" name="character" value="Demolitionist" id="checkbox-3">
    <label for="checkbox-3">Demolitionist</label>
    </div>
    <div class="Voidwarden">
    <input type="checkbox" name="character" value="Voidewarden" id="checkbox-4">
    <label for="checkbox-4" >Voidwarden</label>
    </div>
    <div>
    <input type="submit" name="submit" value="Submit"/>
    </div>
  </fieldset>
<script src="/js/encounter.js"></script>