<h1>Home Page!</h1>
<h2>All projects</h2>
{{#each players}}
    <div class="player-card">
        <p>player name: {{playerName}}</p>
        <p>level: {{playerLevel}}</p>
        <p>health: {{playerHealth}}</p>
        <p>experience: {{experience}}</p>
        <p>effect: {{effect}}</p>
    </div>
{{/each}}